a {
  text-decoration: none;
}
.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 10px;
  transition: all 0.1s ease-in-out;
  position: relative;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.listing:hover {
  scale: 105%;
}
.listing-textbox {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 30px 30px;
  z-index: 1;
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}
.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}
.listing-photo {
  /* height: 250px;
  width: 100%; */
  /* object-fit: cover; */
  border-radius: 30px;
}
.listing-location {
  padding: 10px 20px 20px 20px;
}
.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}
section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
section.listing a::after {
  margin-left: 5px;
}
